h1 {
    color: aliceblue;
}

body {
    background-color: #1e2033;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    color: aliceblue;
    margin-top: 100px;
    text-align: center;
    zoom: 150%;
}

img {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

hr {
    border: 0.7px solid aliceblue;
    width: 170px;
    margin: 0 auto;
}

a {
    all: unset;
    cursor: pointer;
}

code {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    color: aliceblue;
    background-color: #2e2c3e;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
    background-color: #2e2c3e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    width: 170px;
}

input {
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #2e2c3e;
    width: 100%;
    margin-bottom: 10px;
    padding: 0px;
    background-color: aliceblue;
}

table {
    border: 1px solid aliceblue;
    padding: 2px;
    border-radius: 5px;
    border-collapse: collapse;
    border-style: hidden;
    justify-content: center;
    margin: 0 auto;
    background-color: #2e2c3e;
    box-shadow: 0 0 4px 1px aliceblue;
    width: 100%;
}

th,
td {
    padding: 4px;
    border: 1px solid aliceblue;
    border-collapse: collapse;
    border-radius: 5px;
    width: 10px;
    height: 20px;
}

td {
    background-color: #3d3a52;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    font-family: "Roboto Mono", monospace;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    background-color: aliceblue;
    color: #2e2c3e;
    height: 25px;
    width: fit-content;
    border-radius: 6px;
    border: 2px solid #2e2c3e;
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

button:hover {
    transition: all 0.2s ease-in-out;
    background-color: #2e2c3e;
    color: aliceblue;
    border-color: aliceblue;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

select {
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #2e2c3e;
    width: 100%;
    margin-bottom: 10px;
    padding: 0px;
    background-color: aliceblue;
}

textarea {
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #2e2c3e;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding: 0px;
    background-color: aliceblue;
    resize: none;
}

/* imposta il footer in basso a destra */
footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 12px;
    color: aliceblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.buttons {
    display: flex;
    margin-top: 15px;
    text-align: center;
    justify-content: space-between;
    width: 25%;
    min-width: fit-content;
}

.radioSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    height: 25px;
    padding-bottom: 5px;
}

.insertButton {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#attivo,
#inattivo {
    width: fit-content;
    margin: 0;
}

#response {
    padding-top: 20px;
}

/* to hide arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* input[type="number"] {
    -moz-appearance: textfield;
}

div.zoomed {
    zoom: 3;
    -moz-transform: scale(3);
    -moz-transform-origin: 0 0;
} */
