html {
    height: 100%;
}

h1 {
    color: aliceblue;
}

body {
    background-color: #1e2033;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    color: aliceblue;
    text-align: center;
    min-height: 100%;
}

.logo {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

.logo:hover {
    transition: all 0.2s ease-in-out;
    -webkit-filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.7));
    filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.7));
}

hr {
    border: 0.7px solid aliceblue;
    width: 170px;
    margin: 0 auto;
}

a {
    all: unset;
    cursor: pointer;
}

code {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    color: aliceblue;
    background-color: #2e2c3e;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
    background-color: #2e2c3e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    width: 170px;
}

input {
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #2e2c3e;
    width: 100%;
    padding: 0px;
    background-color: aliceblue;
}

table {
    border: 1px solid aliceblue;
    padding: 2px;
    border-radius: 5px;
    border-collapse: collapse;
    border-style: hidden;
    justify-content: center;
    background-color: #2e2c3e;
    box-shadow: 0 0 4px 1px aliceblue;
    width: 100%;
}

th {
    background-color: #2e2c3e !important;
    color: aliceblue;
    font-weight: bold;
    padding: 4px;
    border: 1px solid aliceblue;
    border-collapse: collapse;
    border-radius: 5px;
    width: 5%;
    height: 5%;
}

td {
    padding: 4px;
    border: 1px solid aliceblue;
    border-collapse: collapse;
    border-radius: 5px;
    width: 5%;
    height: 5%;
}

tr:nth-child(even) {
    background-color: #3d3a52;
}

tr:nth-child(odd) {
    background-color: #4c4762;
}

.tdName {
    transition: all 0.1s linear;
}

.tdNome:hover {
    transition: all 0.1s linear;
    background-color: aliceblue;
    color: #2e2c3e;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    cursor: pointer;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

label[for="Codice"] {
    margin-top: 0px;
}

button {
    font-family: "Roboto Mono", monospace;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    background-color: aliceblue;
    color: #2e2c3e;
    height: 25px;
    width: fit-content;
    border-radius: 6px;
    border: 2px solid #2e2c3e;
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

button:hover {
    transition: all 0.2s ease-in-out;
    background-color: #2e2c3e;
    color: aliceblue;
    border-color: aliceblue;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

select {
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #2e2c3e;
    width: 100%;
    margin-bottom: 10px;
    padding: 0px;
    background-color: aliceblue;
}

textarea {
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #2e2c3e;
    width: 100%;
    min-height: 50px;
    padding: 0px;
    background-color: aliceblue;
    resize: none;
}

/* imposta il footer in basso a destra */
footer {
    position: absolute;
    font-size: 12px;
    color: aliceblue;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background-color: #2e2c3e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    zoom: 110%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 5rem;
    zoom: 140%;
}

.buttons {
    display: flex;
    margin-top: 15px;
    text-align: center;
    justify-content: space-between;
    width: 25%;
    min-width: fit-content;
}

.radioSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    height: 25px;
    padding-bottom: 5px;
}

.insertButton {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#btnSave {
    margin-top: 10px;
    text-align: center;
}

#attivo,
#inattivo {
    width: fit-content;
    margin: 0;
}

#response {
    padding-top: 20px;
}

#github-icon {
    transition: all 0.5s ease-in;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

#github-icon:hover {
    transition: all 0.5s ease-out;
    -webkit-filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.7));
    filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.7));
}

/* to hide arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/*
div.zoomed {
    zoom: 3;
    -moz-transform: scale(3);
    -moz-transform-origin: 0 0;
} */
